body.primer {margin:0 auto;padding:0;color:#000;background:#fff;font:normal 11px Georgia; text-align:left;line-height:18px;}
body.primer p{ margin-left:35px; line-height:22px;}
h1 { font:bold 25px Georgia; text-transform:uppercase; margin-top:35px; }
h2 { font:bold 14px Georgia; text-transform:uppercase; }
h3 { text-transform:uppercase; font:bold 14px Georgia; }
.left {width:170px;float:left;font-size:9px;line-height:14px;font-weight:normal;color:#848484;margin:93px auto 0 0;height:100%;position:absolute;z-index:300}
.left2 {width:170px;float:left;font-size:9px;line-height:14px;font-weight:normal;color:#848484;margin:122px auto 0 0;height:100%;position:absolute;z-index:300}
.right {width:170px;float:left;margin:93px auto 0 600px;position:absolute;z-index:300;font-weight:normal;font-size:9px}
.right2 {width:170px;float:left;margin:122px auto 0 540px;position:absolute;z-index:300;font-weight:normal;font-size:9px}
.middle {position:absolute;float:left;padding-left:175px;width:500px}
textarea {width:267px;height:379px;color:#333;font-weight:bold;font-size:9px}
.news {color:#837E3C;font-weight:bold;padding-bottom:30px}
.news a {text-decoration:underline}
.paypal { display:inline;}
.grey {background-color:#efefef;color:#000; }
.indent { padding-left:15px; }