<?php
global $configuration;
$configuration['soapEngine'] = "nusoap"; //other value is "phpsoap"
$configuration['soap'] = "http://www.phpobjectgenerator.com/services/soap.php?wsdl";
$configuration['homepage'] = "http://www.phpobjectgenerator.com";
$configuration['revisionNumber']="";
$configuration['versionNumber'] = "3.0c";
$configuration['author'] = "Php Object Generator";
$configuration['copyright'] = "Free for personal & commercial use. (Offered under the BSD license)";
?>
